.DS_Store

__pycache__
__pycache__/

.env
.env.local

node_modules
node_modules/

# Generated data
data/*.jsonl
# files required for finetuning
!data/train_filtered.jsonl
!data/valid_filtered.jsonl
eval/results_*.json
train/job_result.json

# Python
*.pyc
*.egg-info/
dist/
build/

.hf_cache
artifacts/
.hf-cache/
